In [3]:
from rosette.api import API, DocumentParameters, RosetteException
import pandas as pd
import wikipedia
import requests
from utils import *

NameError: name 'utils' is not defined

In [68]:
def get_id(message):
    API_ENDPOINT = "https://www.wikidata.org/w/api.php"
    query = message
    params = {
        'action': 'wbsearchentities',
        'format': 'json',
        'language': 'en',
        'search': query
    }
    r = requests.get(API_ENDPOINT, params = params)
    try:
        return (r.json()['search'][0]['id'])
    except Exception:
        return -1

In [88]:
def Analyse(message, alt_url='https://api.rosette.com/rest/v1/'):
    """ Run the example """
    # Create an API instance
    api = API(user_key="89350904c7392a44f0f9019563be727a", service_url=alt_url)

    # Set selected API options.
    # For more information on the functionality of these
    # and other available options, see Rosette Features & Functions
    # https://developer.rosette.com/features-and-functions#morphological-analysis-introduction

    # api.set_option('modelType','perceptron') #Valid for Chinese and Japanese only
    params = DocumentParameters()
    relationships_text_data = wikipedia.page(message).content[:20000]
    params["content"] = relationships_text_data
    rel = []
    gt = []
    message_id = get_id(message)
    try:
        RESULT = api.relationships(params)
        #print(RESULT)
        for r in RESULT['relationships']:
#             gt += add_ground_truth(r['predicate'], r['arg1'], r['arg2'])
            if get_id(r['arg2']) == message_id:
                rel.append({'Relationship':r['predicate']+'^-1', 'Subject':r['arg2'], 'Object2':r['arg1']})
            rel.append({'Relationship':r['predicate'],'Subject':r['arg1'],'Object2':r['arg2']})
        return rel, message_id
    except RosetteException as exception:
        print(exception)

sample_message = "FLIR Systems is headquartered in Oregon and produces thermal imaging, night vision, and infrared cameras and sensor systems.  According to the SEC’s order instituting a settled administrative proceeding, FLIR entered into a multi-million dollar contract to provide thermal binoculars to the Saudi government in November 2008.  Timms and Ramahi were the primary sales employees responsible for the contract, and also were involved in negotiations to sell FLIR’s security cameras to the same government officials.  At the time, Timms was the head of FLIR’s Middle East office in Dubai. After that, Timms joined Google."
result = Analyse(sample_message)

In [89]:
sample_message = "Steve Jobs" #"Andrew Ng"
result, message_id = Analyse(sample_message)

In [90]:
df = pd.DataFrame(result)
# print (df)

In [223]:
main_df = df[df['Subject'].apply(lambda row: get_id(row)) == message_id]
other_df = df[~df.isin(main_df).all(1)]

In [20]:
####################### NEW ####################
e1Grp = df.sort_values('Object2', ascending=True).drop_duplicates().groupby(['Subject','Relationship']).agg(lambda x: list(x)).reset_index()
rows = []
_ = e1Grp.apply(lambda row: [rows.append([row['Subject'],row['Relationship'], e2]) for e2 in row.Object2], axis=1)
e1Grp = pd.DataFrame(rows, columns=e1Grp.columns).set_index(['Subject','Relationship'])

print(e1Grp)

In [228]:
main_df = main_df.sort_values('Object2', ascending=True).drop_duplicates().groupby(['Subject','Relationship']).agg(lambda x: list(x))
main_df['Count'] = main_df['Object2'].apply(lambda x: len(x))
# print(main_df)
main_df

                                                                                                 Object2  \
Subject    Relationship
Steve Jobs Educated at                                                [Al, Apple Computer, Reed College]
           Organization Founded By^-1                                                   [Apple Computer]
           Person Current and Past Location of Residence  [India, San Francisco Bay Area, United States]
           Person Employee or Member of                                    [Apple Computer, Atari, NeXT]
           Person Parents                                                                   [Clara Jobs]
           Person Place of Birth                                             [San Francisco, California]
           Person Siblings                                                [Patricia, Paul Reinhold Jobs]
           Person Spouse                                                                       [Laurene]

                                                          Count
Subject    Relationship
Steve Jobs Educated at                                        3
           Organization Founded By^-1                         1
           Person Current and Past Location of Residence      3
           Person Employee or Member of                       3
           Person Parents                                     1
           Person Place of Birth                              1
           Person Siblings                                    2
           Person Spouse                                      1

In [229]:
other_df = other_df.sort_values('Object2', ascending=True).drop_duplicates().groupby(['Subject','Relationship']).agg(lambda x: list(x))
other_df['Count'] = other_df['Object2'].apply(lambda x: len(x))
# print(other_df)
other_df

                                                                                                                  Object2  \
Subject                  Relationship
Abdulfattah Jandali      Person Current and Past Location of Residence                                             [Homs]
Apple Computer           Organization Founded By                                              [Steve Jobs, Steve Wozniak]
Atari                    Organization Founded By                                                         [Nolan Bushnell]
Chrisann Brennan         Educated at                                                        [Al, Homestead, Reed College]
                         Person Current and Past Location of Residence                                            [India]
Chrisann Brennan.In      Educated at                                                     [Homestead, Stanford University]
Clara Hagopian           Citizen of                                                                            [Armenian]
                         Person Current and Past Location of Residence       [San Francisco, California, Sunset District]
Daniel Kottke            Person Current and Past Location of Residence                                    [United States]
Ernest Hemingway         Citizen of                                                                            [Yosemite]
                         Educated at                                                     [Homestead, Stanford University]
Joanne Carole Schieble   Person Current and Past Location of Residence                                        [Wisconsin]
John Sculley             Educated at                                                      [American University of Beirut]
                         Person Employee or Member of                                     [American University of Beirut]
Patricia                 Person Current and Past Location of Residence                        [Mountain View, California]
Paul Reinhold Jobs       Person Current and Past Location of Residence  [Mountain View, California, San Francisco, Cal...
                         Person Employee or Member of                                         [United States Coast Guard]
Pixar                    Organization Founded By                                                                   [NeXT]
Robert Friedland.Brennan Educated at                                                                          [Homestead]
Steve Wozniak            Citizen of                                                                           [Fernandez]
                         Person Current and Past Location of Residence                                        [Fernandez]
Walter Isaacson          Person Parents                                                              [Paul Reinhold Jobs]

                                                                        Count
Subject                  Relationship
Abdulfattah Jandali      Person Current and Past Location of Residence      1
Apple Computer           Organization Founded By                            2
Atari                    Organization Founded By                            1
Chrisann Brennan         Educated at                                        3
                         Person Current and Past Location of Residence      1
Chrisann Brennan.In      Educated at                                        2
Clara Hagopian           Citizen of                                         1
                         Person Current and Past Location of Residence      2
Daniel Kottke            Person Current and Past Location of Residence      1
Ernest Hemingway         Citizen of                                         1
                         Educated at                                        2
Joanne Carole Schieble   Person Current and Past Location of Residence      1
John Sculley             Educated at                                        1
                         Person Employee or Member of                       1
Patricia                 Person Current and Past Location of Residence      1
Paul Reinhold Jobs       Person Current and Past Location of Residence      3
                         Person Employee or Member of                       1
Pixar                    Organization Founded By                            1
Robert Friedland.Brennan Educated at                                        1
Steve Wozniak            Citizen of                                         1
                         Person Current and Past Location of Residence      1
Walter Isaacson          Person Parents                                     1

MultiIndex(levels=[['Steve Jobs'], ['Educated at', 'Organization Founded By^-1', 'Person Current and Past Location of Residence', 'Person Employee or Member of', 'Person Parents', 'Person Place of Birth', 'Person Siblings', 'Person Spouse']],
           labels=[[0, 0, 0, 0, 0, 0, 0, 0], [0, 1, 2, 3, 4, 5, 6, 7]],
           names=['Subject', 'Relationship'])

In [227]:
main_df

,Object2,Relationship,Subject
2,"San Francisco, California",Person Place of Birth,Steve Jobs
4,Apple Computer,Organization Founded By^-1,Steve Jobs
6,Apple Computer,Educated at,Steve Jobs
7,NeXT,Person Employee or Member of,Steve Jobs
8,Apple Computer,Person Employee or Member of,Steve Jobs
20,Clara Jobs,Person Parents,Steve Jobs
21,Laurene,Person Spouse,Steve Jobs
23,Paul Reinhold Jobs,Person Siblings,Steve Jobs
25,Patricia,Person Siblings,Steve Jobs
34,Reed College,Educated at,Steve Jobs
36,Al,Educated at,Steve Jobs
38,Reed College,Educated at,Steve Jobs
41,San Francisco Bay Area,Person Current and Past Location of Residence,Steve Jobs
43,Atari,Person Employee or Member of,Steve Jobs
44,India,Person Current and Past Location of Residence,Steve Jobs
46,India,Person Current and Past Location of Residence,Steve Jobs
48,United States,Person Current and Past Location of Residence,Steve Jobs

# Pseudo Ground Truth from Wikidata

In [241]:
from SPARQLWrapper import SPARQLWrapper, JSON

endpoint_url = "https://query.wikidata.org/sparql"

# query = """SELECT ?item ?itemLabel WHERE {
#   ?item wdt:P112 wd:Q19837.
#   SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
# }"""


def get_results(query, value, endpoint_url="https://query.wikidata.org/sparql"):
    sparql = SPARQLWrapper(endpoint_url)
    sparql.setQuery(query%value)
    sparql.setReturnFormat(JSON)
    return sparql.query().convert()


def ground_truth(relation, subject):
    results = []
    gt = []
    try:
        results = [get_results(query, get_id(subject)) for query in query_dict[relation]]
        for result in results:
            for r in result["results"]["bindings"]:
                gt.append(r['itemLabel']['value'])
    except:
        print (relation, subject)
#         gt = ['Unknown']
    return gt

In [242]:
query_dict = {'Organization Founded By^-1':["""SELECT ?item ?itemLabel WHERE {
                                          ?item wdt:P112 wd:%s.
                                          SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
                                        }"""
                                           ],
              'Organization Founded By':["""SELECT ?item ?itemLabel WHERE {
                                          wd:%s wdt:P112 ?item.
                                          SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
                                        }"""
                                        ],
              'Organization Headquarters':["""SELECT ?item ?itemLabel WHERE {
                                          wd:%s wdt:P159 ?item.
                                          SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
                                        }"""
                                          ],
              'Organization Subsidiary Of^-1':["""SELECT ?item ?itemLabel WHERE {
                                          wd:%s wdt:P355 ?item.
                                          SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
                                        }"""
                                              ],
              'Organization Subsidiary Of':["""SELECT ?item ?itemLabel WHERE {
                                          ?item wdt:P355 wd:%s.
                                          SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
                                        }"""
                                           ],
              'Organization top employees':["""SELECT ?item ?itemLabel WHERE {
                                          wd:%s wdt:P169 ?item.
                                          SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
                                        }""", # CEO
                                            """SELECT ?item ?itemLabel WHERE {
                                          wd:%s wdt:P488 ?item.
                                          SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
                                        }""" # Chairperson
                                            ],
              'Person Employee or Member of^-1':["""SELECT ?item ?itemLabel WHERE {
                                          ?item wdt:P108 wd:%s.
                                          SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
                                        }"""
                                                ],
              'Person Employee or Member of':["""SELECT ?item ?itemLabel WHERE {
                                              wd:%s wdt:P108 ?item.
                                              SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
                                            }"""
                                            ],
              'Person Place of Birth':["""SELECT ?item ?itemLabel WHERE {
                                              wd:%s wdt:P19 ?item.
                                              SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
                                            }"""
                                      ],
              'Person Current and Past Location of Residence':["""SELECT ?item ?itemLabel WHERE {
                                              wd:%s wdt:P551 ?item.
                                              SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
                                            }"""
                                                              ],
              'Person Parents':["""SELECT ?item ?itemLabel WHERE {
                                              wd:%s wdt:P22 ?item.
                                              SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
                                            }""", #Father
                                """SELECT ?item ?itemLabel WHERE {
                                              wd:%s wdt:P25 ?item.
                                              SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
                                            }""", #Mother
                                """SELECT ?item ?itemLabel WHERE {
                                              wd:%s wdt:P1038 ?item.
                                              SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
                                            }""" #Relative (Adopted Parents?)
                                # Shall we include stepparents??
                               ],
              'Person Parents^-1':["""SELECT ?item ?itemLabel WHERE {
                                              wd:%s wdt:P40 ?item.
                                              SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
                                            }"""
                                  ],
              'Person Siblings':["""SELECT ?item ?itemLabel WHERE {
                                              wd:%s wdt:P3373 ?item.
                                              SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
                                            }"""
                                ],
              'Person Spouse':["""SELECT ?item ?itemLabel WHERE {
                                              wd:%s wdt:P26 ?item.
                                              SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
                                            }"""
                              ],
              'Citizen of':["""SELECT ?item ?itemLabel WHERE {
                                              wd:%s wdt:P27 ?item.
                                              SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
                                            }"""
                           ],
              'Educated at':["""SELECT ?item ?itemLabel WHERE {
                                              wd:%s wdt:P69 ?item.
                                              SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
                                            }"""
                            ]
             }

In [190]:
results = []
results = [get_results(endpoint_url, query, get_id("Steve Jobs")) for query in query_dict['Educated at']]

gt = []
for result in results:
    for r in result["results"]["bindings"]:
        gt.append(r['itemLabel']['value'])
print (len(gt))
gt

2

['Reed College', 'Homestead High School']

In [196]:
temp['Relationship']

0                                      Educated at
1                       Organization Founded By^-1
2    Person Current and Past Location of Residence
3                     Person Employee or Member of
4                                   Person Parents
5                            Person Place of Birth
6                                  Person Siblings
7                                    Person Spouse
Name: Relationship, dtype: object

In [247]:
temp = main_df.reset_index()
temp

,Subject,Relationship,Object2,Count
0,Steve Jobs,Educated at,"[Al, Apple Computer, Reed College]",3
1,Steve Jobs,Organization Founded By^-1,[Apple Computer],1
2,Steve Jobs,Person Current and Past Location of Residence,"[India, San Francisco Bay Area, United States]",3
3,Steve Jobs,Person Employee or Member of,"[Apple Computer, Atari, NeXT]",3
4,Steve Jobs,Person Parents,[Clara Jobs],1
5,Steve Jobs,Person Place of Birth,"[San Francisco, California]",1
6,Steve Jobs,Person Siblings,"[Patricia, Paul Reinhold Jobs]",2
7,Steve Jobs,Person Spouse,[Laurene],1

In [248]:
temp['Ground Truth'] = temp.apply(lambda row: ground_truth(row['Relationship'], row['Subject']), axis=1)
temp['Count_GT'] = temp['Ground Truth'].apply(lambda x: len(x))

In [249]:
temp.set_index(['Subject','Relationship'])

                                                                                                 Object2  \
Subject    Relationship
Steve Jobs Educated at                                                [Al, Apple Computer, Reed College]
           Organization Founded By^-1                                                   [Apple Computer]
           Person Current and Past Location of Residence  [India, San Francisco Bay Area, United States]
           Person Employee or Member of                                    [Apple Computer, Atari, NeXT]
           Person Parents                                                                   [Clara Jobs]
           Person Place of Birth                                             [San Francisco, California]
           Person Siblings                                                [Patricia, Paul Reinhold Jobs]
           Person Spouse                                                                       [Laurene]

                                                          Count  \
Subject    Relationship
Steve Jobs Educated at                                        3
           Organization Founded By^-1                         1
           Person Current and Past Location of Residence      3
           Person Employee or Member of                       3
           Person Parents                                     1
           Person Place of Birth                              1
           Person Siblings                                    2
           Person Spouse                                      1

                                                                                               Ground Truth  \
Subject    Relationship
Steve Jobs Educated at                                                [Reed College, Homestead High School]
           Organization Founded By^-1                                          [Apple, NeXT Computer, Inc.]
           Person Current and Past Location of Residence                                    [Mountain View]
           Person Employee or Member of                                 [Apple, Pixar, NeXT Computer, Inc.]
           Person Parents                                 [John Abdulfattah Jandali, Joanne Schieble, Pa...
           Person Place of Birth                                                            [San Francisco]
           Person Siblings                                                                   [Mona Simpson]
           Person Spouse                                                              [Laurene Powell Jobs]

                                                          Count_GT
Subject    Relationship
Steve Jobs Educated at                                           2
           Organization Founded By^-1                            2
           Person Current and Past Location of Residence         1
           Person Employee or Member of                          3
           Person Parents                                        4
           Person Place of Birth                                 1
           Person Siblings                                       1
           Person Spouse                                         1

In [250]:
main_df

                                                                                                 Object2  \
Subject    Relationship
Steve Jobs Educated at                                                [Al, Apple Computer, Reed College]
           Organization Founded By^-1                                                   [Apple Computer]
           Person Current and Past Location of Residence  [India, San Francisco Bay Area, United States]
           Person Employee or Member of                                    [Apple Computer, Atari, NeXT]
           Person Parents                                                                   [Clara Jobs]
           Person Place of Birth                                             [San Francisco, California]
           Person Siblings                                                [Patricia, Paul Reinhold Jobs]
           Person Spouse                                                                       [Laurene]

                                                          Count
Subject    Relationship
Steve Jobs Educated at                                        3
           Organization Founded By^-1                         1
           Person Current and Past Location of Residence      3
           Person Employee or Member of                       3
           Person Parents                                     1
           Person Place of Birth                              1
           Person Siblings                                    2
           Person Spouse                                      1

In [12]:
import pickle

In [8]:
a = {}
b = [5,6]

In [10]:
any(x in a for x in b)

True

In [11]:
a  = {'1':1,'2':2}

In [13]:
with open('data.p', 'wb') as fp:
    pickle.dump(a, fp, protocol=pickle.HIGHEST_PROTOCOL)

In [14]:
data = {}
with open('data.p', 'rb') as fp:
    data = pickle.load(fp)

In [25]:
a = {}

In [21]:
def f1():
    a['3'] = 3
    print (a)

In [24]:
def f2():
    global a
    with open('data.p', 'rb') as fp:
        a = pickle.load(fp)
    a['222'] = 222